.card {
  width: 540px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__list {
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  list-style: none;
  margin: 0 0 16px;
  display: flex;
}

.card__list-item:last-child {
  margin: 0;
}

.card__list-divider {
  border-bottom: 1px solid #000;
  flex-grow: 1;
}
