.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-size: cover;
  padding: 100px 0 100px;
}

.menu__title {
  max-width: 780px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 24px;
  text-align: center;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto 100px auto;
  max-width: 780px;
}

.menu__card {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
}

.card {
  width: 540px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__list {
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif";
  list-style: none;
  margin: 0 0 16px;
  display: flex;
}

.card__list-item:last-child {
  margin: 0;
}

.card__list-divider {
  border-bottom: 1px solid #000;
  flex-grow: 1;
}
